<div class="bg-white-600">
    <ul class="flex flex-row">
        <li class="px-2 py-4">
            <a href={{ path('app_auth_login') }}>
                Login
            </a>
        </li>
    </ul>
</div>